/* About.css */
.about-container{
  background: linear-gradient(to bottom, #62cf68da 40%, #ffffff 40%);
  color: white;
}

  
  .about-title {
    margin-top: 30px;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
  }
  
  .about-description {
    color: #333;
    margin: 50px;
  margin-top:15px ;
  padding: 30px;
  text-align: center;
  background-color: rgb(230, 226, 226);
  border-radius: 8px;
  font-size: 15px;
  text-align: justify;
}
  
.about-image {
  display: block;
  box-shadow: #333;
  margin: 0 auto; /* Center align the image */
  max-width: 100%;
  height: 350px;
  border-radius: 4px;
  margin-top: 40px; 
}
