
#contact_page{
  background-image: url(../img/contact.jpg);
  opacity: 90%;
  display: block;
  margin-top: 0px;
  width: auto;
  height: fit-content;
  padding:59px; 
  
}



.contact-head{
   background-color: green;
  width: 600px;
  height: 50px;
  border:none;
  display: block;
  border:  black;
  margin-top: -22px;
  text-align: center;
}


.contact-container {
    width: 600px;
    height: auto;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
   text-align: center;
   margin: auto;
   margin-top: 50px;
   background-color: whitesmoke;
}



#contact-para{
  text-align: center;
  padding: 20px;
}


.contact-form input{
    width: 200px;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.contact-form  {
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contactbutton{
    align-self: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: white;
  transition: background-color 0.3s ease-in-out;
  width: 80px;
  height: 30px;
}


