/**/

.dashboard_background{
    background-image: url(../img/dashboard_background.jpg);
    
    
    width: 1920px;
    height: 200px;
    top: 0;
    display: block;
    position: relative;
    text-align: center;
}

/**/

.profile_nav{
    position: absolute;
    top: 0;
    left: 10px;
    width: 400px;
    height: 920px;
    background-color: rgb(60, 146, 60);
    border-radius: 40px;
    
    text-align: center;
}
/**/

.dash_area{
    margin-left: 500px;
    margin-right:500px ;
    background-color: blue;
    width: 50%;
    height: 900px;
}
/**/
/*
.dash_contact{

}
*/

.user_img{
    margin: auto;
    width: 100px;
    height: 100px;
    position: relative;
    top: 50px;
}
.user_name{
    font-size:20px ;
    font-weight:bold ;
    position: relative;
    top: 30px;

}
/*this filed includes whole area containing profile & user name along with nav bars on the left side*/

.dashboard_nav{
    margin: 50px auto 20px auto;
    width: 350px;
    height: fit-content;
    
 

}
/*style for area for nav logo and nav titles */

.dash_nav_logo_name{
    text-align: center;
    display: block;
    position: relative;
    left: 50px;
    
    

}
.nav_logo_area{
    display: inline-block;
    position: absolute;
    top:25px ;
    left:40px;
    
    
}
.nav_dash_titles_area{
    display: inline-block;
    

   
}
/*style for nav logos*/

.nav_imgs{
    height:50px ;
    width:50px ;
    position: relative;

}

/*style for nav names like dashboard, donates and others*/
.nav_dash_titles{
   position: relative;
   font-size: 25px;
   top: 10px;  
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;

}
.logout_area{
    
    width: 150px;
    height: fit-content;
    margin: 90px;
    display: block;
    position: relative;
    top: 90px;
}
.logout_imgs{
    height:50px ;
    width:50px ;
    position: relative;
    
}
.nav_dash_logout_area{
    display: inline-block;
    position: absolute;
    top:25px ;
    left:40px;
}
.nav_logout_titles{
    position: relative;
   font-size: 25px;
   top: 5px;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
}