.Forget-Password-Container {
  /* margin-top: 50px;
   margin-left: 425px;
   width: 600px;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   text-align: center;
*/
   margin: 100px auto 100px auto;
   width: 500px;
   height: max-content;
   border: 1px solid #ccc;
   border-radius: 5px;
   text-align: center;
   display: block;
   background-color: aliceblue;
   
   padding-bottom: 40px;
   box-shadow: 5px 5px 15px lightslategray;
 }
 #forget_title_name{
   text-align: center;
   color: white;
   margin: auto;
   font-weight: bold;
   font-size: larger;
   padding: 5px;
   text-shadow: 2px 2px 4px #000000;
 }
 #forget_title{
   background-color: green;
 width: auto;
 height: 50px;
 margin: auto;
 border:none;
 display: block;
 border:  black;
  
 padding: 1px;
 }
 .reset-button {
   align-self: center;
   font-size: 16px;
   cursor: pointer;
   border: none;
   border-radius: 4px;
   background-color: orange;
   color: white;
   transition: background-color 0.3s ease-in-out;
   width: 150px;
   height: 30px;
 }
 .reset-input {
   width: 200px;
   padding: 8px;
   font-size: 15px;
   border: 1px solid #ccc;
   border-radius: 4px;
 }
 form {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 18px;
 }