/* LandingPage.css */

/* Resetting default margin and padding */
body {
  padding: 0;
  background-size: cover;
  background-position: center;
  color: black;
}

/* Global styles */
.landing-page {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 100%;
 /* max-width: 800px;*/
  position: absolute;
}
/* style for home coverphotos area */
.home_cover_area{
 
  display: block;
  margin: 0 auto; /* Center align the image */
  max-width: 100%;
  height: 300px;

}

.Donate-button-home{
  align-self: center;
  font-size: 16px;
  cursor: pointer;
  border: black;
  border-radius: 8px;
  background-color: black;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out;
  width: 80px;
  height: 30px;
  margin-top: 10px;
}

.Donate-button-home:hover{
  background-color: blue;
}


/*style for the coverimage  */
.home_cover{
  box-shadow: #333;
  margin: 0 auto; /* Center align the image */
  max-width: 100%;
  height: 300px;
}
.title_for_cover{
  background-color: MediumSeaGreen;
  max-width: 100%;
  height: 50px;
  display: block;
  margin-top: auto;
  margin: 0 auto;
}
.header1{
  display: block;
  
}
p{
  font-size: xx-large;
  
}
/*  */
.photogrid{
  width: 100%;
  margin-top: 100px;
  display: block;

}
.grid1{
  display: inline-block;
  width: 30%;
  height:;
  box-sizing: border-box;
  margin: auto;
  padding:auto;
  
}
.donate_img1{
  display: inline-block;
  width: 300px;
  height:200px ;
  border-radius: 5px;

  
  
}



/*  */
header {
  margin-bottom: 30px;
  margin-top: 20px;
  animation: fadeInDown 1s ease;
  text-align: center;
}

.header h1 {
  overflow: hidden;
  border-right: 0.08em solid orange;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0em;
  animation: typing 4s steps(40, end)infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* }
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  } */
/* } */
#head:hover {
  color: #27ae60;
}

.features {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  stroke: black;
  margin-left: 50px;
  /* Add any other styles as needed */
}

.features:hover {
  transform: scale(1.02); 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}

.features-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin:2px;
  text-align: center;
  position: absolute;
}

/* Footer styles */
footer {
  margin-top: 50px;
  font-size: 12px;
  color: #888;
}
