#login_page{
  width:100%;
}
/* css style for background*/
.bg{
  background-image: url(../img/login_bg.jpg);
  opacity: 80%;
  display: block;
  margin-top: 0px;
  width: auto;
  height: fit-content;
  padding:20px; 
  
}
/*color change for background color*/
/*.bg:hover{
  background-image: url(../img/login_bg1.jpg);

}*/
#login_title{
  
  background-color: green;
  width: auto;
  height: 50px;
  margin: auto;
  border:none;
  display: block;
  border:  black;
  padding: 1px;
  
}
#login_title_name{
  text-align: center;
  color: white;
  margin: auto;
  font-weight: bold;
  font-size: larger;
  padding: 5px;
  text-shadow: 2px 2px 4px #000000;
  

}
.login-container {
 /* margin-top: 50px;
  margin-left: 325px;*/ 

  margin: 100px auto 100px auto;
  width: 500px;
  height: max-content;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  display: block;
  background-color: aliceblue;
  
  padding-bottom: 40px;
  box-shadow: 5px 5px 15px lightslategray;
}
/*style for username area*/
.loginid{
  
  display: block;
  font-weight: bold;
}
/*style for password area*/
.loginpassword{
  
  display: block;
  font-weight: bold;
  

}
/**/
.login-input {
  width: 200px;
  padding: 8px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  align-self: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: white;
  transition: background-color 0.3s ease-in-out;
  width: 80px;
  height: 30px;
}
.login-button:hover{
  background-color: blue;

}
/*style for forgetpassword area (div)*/

.forget-password {
  color: blue;
  display: block;
}
.forget-password p{
  font-size: 13px;
  float: left;
  text-align: center;
  margin: 15px;
  cursor: pointer;
  align-self: center;
}
.donthaveacc {
  font-size: 13px;
  margin-left: -190px;
}
.signup-button-loginpage {
  align-self: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: rgb(0, 98, 128);
  color: white;
  transition: background-color 0.3s ease-in-out;
  width: 80px;
  height: 30px;
}
.newacc{
  display: column;
  margin-left: 17px;
 
}