/*whole nav area incliuding barnding name*/



.navigation-area{
  width: auto;
  height: 115px;
  border: none;
  background-color: white;
  color: black;
  
}
/*this for the area of branding name(area)*/
.Branding{
  display: inline-block;
  border: none;
  width: 15%;
  height: 120px;
  margin: auto;
}
/*css design for branding name (text design)*/
#logo{
   font-family: 'Times New Roman', Times, serif;
   font-size:35px;
   font-weight: bold;
   text-align: center;
}
/* this is for the brand name last color changes (style for griha)*/
#logo-last{
  color: MediumSeaGreen;
}

/* this filed for the actual nav bar like home button and others*/
.nav-bar {
  display: inline-block;
  margin: 0px 50px 0px 0px;
  float: right;
  text-align: center;
}
.nav-bar:hover {
  display: inline-block;
}
/* 
#signup {
  font-size: ;
  font-family:'Times New Roman', Times, serif ;
  color: ;
  margin: 40px;
  display: inline-block;
}*/
#login {

  margin: 40px 40px 40px 40px;
  padding: 10px 5px 5px 5px;
  width:100px ;
  height:40px;
  display: inline-block;
  /*
  border: 2px solid black;
  border-radius: 15px;
  background-color: black;
  */
  
} 

/*design for nav buttons */
.nav-buttons{
  color: black;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif ;
  text-decoration: none;
  font-weight: bold;
}
#home {
  padding: 10px 5px 5px 5px;
  width:100px ;
  height:40px;
  margin: 40px 40px 40px 40px;
  display: inline-block;
  
 
}
#about {
  margin: 40px 40px 40px 40px;
  padding: 10px 5px 5px 5px;
  width:100px ;
  height:40px;
  display: inline-block;
}
#contact {
  margin: 40px 40px 40px 40px;
  padding: 10px 5px 5px 5px;
  width:100px ;
  height:40px;
  display: inline-block;
}
/* 
#signup:hover {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  color: navy;
  font-size: larger;
  transform: scale(1, 1);
}
#signup:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: blue;
  transition: width 0.3s ease;
}
#signup:hover:after {
  width: 100%;
}
*/
/**/

#login:hover {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
  font-style: inherit;
  color: white;
  transform: scale(1, 1);
  background-color: MediumSeaGreen;

}
/**/

#login:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: navy;
  transition: width 0.3s ease;
}
/**/

#login:hover:after {
  width: 100%;
}
/**/
.nav-buttons:hover{
  color: white;
  
}
#home:hover {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
  font-style: inherit;
  color: white;
  transform: scale(1, 1);
  background-color: MediumSeaGreen;
  
 
  
}
/**/

#home:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: navy;
  border-radius: 15px;
  transition: width 0.3s ease;
}
/**/

#home:hover::after {
  width: 100%;
}
/**/

#about:hover {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
  font-style: inherit;
  color: white;
  transform: scale(1, 1);
  background-color: MediumSeaGreen;
/**/
}
/**/

#about:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: blue;
  transition: width 0.3s ease;
}
#about:hover::after {
  width: 100%;
}
/**/
/**/
#contact:hover {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
  font-style: inherit;
  color: white;
  transform: scale(1, 1);
  background-color: MediumSeaGreen;
}
/**/

#contact:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: blue;
  transition: width 0.3s ease;
}
/**/

#contact:hover::after {
  width: 100%;
}
