.container {
  width: 800px;
  height: 550px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(223, 217, 224, 0.8) ;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 3px rgb(105, 103, 103);
}

.header{
  margin-top: auto;
  font-size: 34px;
  text-align: center;
  color: #181717;
}

.input-type {
  width: 150px;
  padding: 8px;
  font-size: 15px;
  border: 1px solid #000000;
  border-radius: 4px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 18px;
}

.name {
  display: flex;
  gap: 50px;
  margin: 12px;
}

.last-name{
margin-left: 90px;
}

.address {
  display: flex;
  gap: 10px;
  margin: 23px;
}
.contact-info {
  display: flex;
  gap: 180px;
  margin: 6px;
}
.password {
  display: flex;
  gap: 150px;
  margin:19px;
}

.confirm-password{
  margin-left: -60px;
}

.signup-button {
 align-self: center;
  font-size: 16px;
  cursor: pointer;
  border: black;
  border-radius: 8px;
  background-color: #199406;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out;
  width: 80px;
  height: 30px;
  box-shadow: 0 0 5px rgba(63, 66, 63);
}

.signup-button:hover {
  background-color: blue;
}
.username-signup{
  margin-left: -490px;
}

.have-acc{
  font-size: 15px;
  text-align: left;
  color: black;
  margin: 15px;

}

.login-button-signuppage {
  align-self: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color:  rgb(0, 98, 128);;
  color: white;
  transition: background-color 0.3s ease-in-out;
  width: 80px;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin: 10px;
}

#signup-title{
  background-color: green;
  width: 800px;
  height: 50px;
  border:none;
  display: block;
  border:  black;
  
}

.signup-background{
  background-image: url(../img/food-waste-problem.jpg);
  display: block;
  margin-top: 0px;
  width: auto;
  height: fit-content;
  padding:20px; 
}

