.nav-bar {
  display: inline-block;
  position: absolute;
  background-color: blueviolet;
}
#signup {
  margin: 50px;
  display: inline-block;
}
#login {
  margin: 50px;
  display: inline-block;
}
#home {
  margin: 50px;
  display: inline-block;
}
#about {
  margin: 50px;
  display: inline-block;
}
#contact {
  margin: 50px;
  display: inline-block;
}
